@using inzibackend.Authorization
@using inzibackend.Web.Areas.App.Models.LegalDocuments
@using inzibackend.Web.Areas.App.Startup
@model LegalDocumentsViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Tenant.LegalDocuments;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/LegalDocuments/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">
    <abp-page-subheader title="@L("LegalDocuments")">
        @if (IsGranted(AppPermissions.Pages_Administration_LegalDocuments_CreateEdit))
        {
            <button id="CreateNewLegalDocumentButton" class="btn btn-primary">
                <i class="fa fa-plus"></i> @L("CreateNewLegalDocument")
            </button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="alert alert-info mb-3">
            <h5><i class="fa fa-info-circle"></i> @L("LegalDocumentsManagement")</h5>
            <p>@L("LegalDocumentsManagementInfo")</p>
            <ul>
                <li>@L("LegalDocumentsTypeInfo")</li>
                <li>@L("LegalDocumentsFileInfo")</li>
                <li>@L("LegalDocumentsExternalUrlInfo")</li>
            </ul>
        </div>
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="LegalDocumentsTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <div class="input-group-append">
                                        <button id="GetLegalDocumentsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-4">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <select id="TypeFilterId" class="form-control">
                                <option value="">@L("All")</option>
                                @foreach (var documentType in Model.DocumentTypes)
                                {
                                    <option value="@((int)documentType.Type)">@L(documentType.Name)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="LegalDocumentsTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                                <thead>
                                    <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                                        <th class="w-10px pe-2 sorting_disabled" rowspan="1" colspan="1" style="width: 29.25px;">
                                            <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                                <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#LegalDocumentsTable .form-check-input" value="1">
                                            </div>
                                        </th>
                                        <th>@L("Actions")</th>
                                        <th>@L("Type")</th>
                                        <th>@L("FileName")</th>
                                        <th>@L("CreationTime")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
