@model SurPathWeb.Models.RegistrationDataModel

<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
    <tr>
        <td align="center" valign="top" style="padding-right:10px; padding-left:10px;">
            <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="bodyBackground">
                            <tr>
                                <td valign="top" class="bodyContainer">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                        <tbody class="mcnTextBlockOuter">
                                            <tr>
                                                <td valign="top" class="mcnTextBlockInner">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                    <div style="text-align: left;">
                                                                        Hello ,<br />
                                                                        <br />
                                                                        New Program has been registered,&nbsp;please find the details below.<br />
                                                                        <br />
                                                                        Donor Name:&nbsp;<span style="line-height:20.7999992370605px">@Model.FirstName&nbsp;@Model.LastName&nbsp;</span><br />
                                                                        <br />
                                                                        Donor Email:&nbsp;<span style="line-height:20.7999992370605px">@Model.DonorEmail&nbsp;</span><br />
                                                                        <br />
                                                                        Donor SSN:&nbsp;<span style="line-height:20.7999992370605px">@Model.DonorSSN&nbsp;</span><br />
                                                                        <br />
                                                                        Donor DOB:&nbsp;<span style="line-height:20.7999992370605px">@Model.DonorDOB&nbsp;</span><br />
                                                                        <br />
                                                                        Donor City:&nbsp;<span style="line-height:20.7999992370605px">@Model.DonorCity&nbsp;</span><br />
                                                                        <br />
                                                                        Donor State:&nbsp;<span style="line-height:20.7999992370605px">@Model.DonorState&nbsp;</span><br />
                                                                        <br />
                                                                        Donor Zip Code:&nbsp;<span style="line-height:20.7999992370605px">@Model.DonorZipCode&nbsp;</span><br />
                                                                        <br />
                                                                        Client Name:&nbsp;<span style="line-height:20.7999992370605px">@Model.ClientName&nbsp;</span><br />
                                                                        <br />
                                                                        Program Name:&nbsp;<span style="line-height:20.7999992370605px">@Model.DepartmentName&nbsp;</span><br />
                                                                        <br />
                                                                        Amount :&nbsp;<span style="line-height:20.7999992370605px">$&nbsp;@Model.Amount&nbsp;</span><br />
                                                                        <br />
                                                                        For any queries contact 972.633.1388.<br />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock"></table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock">
                                        <tbody class="mcnDividerBlockOuter">
                                            <tr>
                                                <td class="mcnDividerBlockInner" style="padding: 18px;">
                                                    <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width: 1px;border-top-style: solid;border-top-color: #999999;">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <span></span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>