
@using System.Globalization
@using inzibackend.Web.Areas.App.Models.Common.Modals
@using inzibackend.Web.Areas.App.Models.RecordNotes
@using inzibackend.Authorization
@model CreateOrEditRecordNoteModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditRecordNote")) : L("CreateNewRecordNote")))

<div class="modal-body">
    <div id="RecordNoteInformationsTab">
        <form name="RecordNoteInformationsForm" role="form" novalidate class="form-validation">

            <div id="hiddenInputs" class="d-none">
                <input class="form-control" id="RecordStateNotes" name="recordStateNotes" value="@Model.RecordStateNotes" type="text" disabled>
                <input class="form-control" id="RecordNote_RecordStateId" value="@Model.RecordNote.RecordStateId" type="text" name="RecordStateId" hidden />
                <input class="form-control" id="RecordNote_UserId" value="@AbpSession.UserId" type="text" name="userId" hidden />
                <input class="form-control m-input date-time-picker" id="RecordNote_Created" type="text" name="created" value="@Model.RecordNote.Created" />
                <input class="form-control" id="RecordNote_NotifyUserId" value="@Model.RecordNote.NotifyUserId" type="text" name="notifyUserId" hidden />


            </div>
            

            @if (Model.IsEditMode)
            {
            <input class="form-control" id="RecordNote_NotifyUserId" value="@Model.RecordNote.NotifyUserId" type="text" name="notifyUserId" hidden />
            }
            else
            {
            <input class="form-control" id="RecordNote_NotifyUserId" value="" type="text" name="notifyUserId" hidden />
            }

            <div class="my-3">
                <label class="form-label" for="RecordNote_Note">@L("Note")</label>
                <input class="form-control" id="RecordNote_Note" value="@Model.RecordNote.Note" type="text" name="note" required />
            </div>

            <label class="form-check form-check-custom">
                <input id="RecordNote_AuthorizedOnly" name="authorizedOnly" type="checkbox" class="form-check-input" value="true" @Html.Raw(Model.RecordNote.AuthorizedOnly ?"checked=\"checked\"":"") />
                <span class="form-check-label">
                    @L("AuthorizedOnly")
                </span>
            </label>
            @if (IsGranted(AppPermissions.Surpath_View_Host_Only_notes))
            {
            <label class="form-check form-check-custom">
                <input id="RecordNote_HostOnly" name="hostOnly" type="checkbox" class="form-check-input" value="true" @Html.Raw(Model.RecordNote.HostOnly ?"checked=\"checked\"":"") />
                <span class="form-check-label">
                    @L("HostOnly")
                </span>
            </label>
            }
            <label class="form-check form-check-custom">
                <input id="RecordNote_SendNotification" name="sendNotification" type="checkbox" class="form-check-input" value="true" @Html.Raw(Model.RecordNote.SendNotification ?"checked=\"checked\"":"") />
                <span class="form-check-label">
                    @L("SendNotification")
                </span>
            </label>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")