@using inzibackend.Authorization
@using inzibackend.Web.Areas.App.Models.TenantSurpathServices
@using inzibackend.Web.Areas.App.Startup
@model TenantSurpathServicesViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Host.TenantSurpathServices;
    var _TenantColumnClass = "d-none";
    if (AbpSession.TenantId == null) _TenantColumnClass = "";
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/TenantSurpathServices/Index.js" asp-append-version="true"></script>
}

@section Styles
{
<style>
    .service-disabled {
        background-color: #f9f9f9 !important;
    }
    
    .service-disabled:hover {
        background-color: #f5f5f5 !important;
    }
    
    .service-disabled .toggle-enabled {
        opacity: 0.8;
    }
    
    #selectAllCheckbox {
        cursor: pointer;
    }
    
    .bulk-select-checkbox {
        cursor: pointer;
    }
</style>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title='@L("TenantSurpathServices")' description='@L("TenantSurpathServicesHeaderInfo")'>
        <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
        
        @if (IsGranted(AppPermissions.Pages_TenantSurpathServices_Edit))
        {
        <div class="btn-group me-1" id="bulkActionsGroup" style="display: none;">
            <button type="button" class="btn btn-outline btn-outline-primary btn-active-light-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-cogs"></i> @L("BulkActions")
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item bulk-enable" href="#"><i class="fa fa-check text-success"></i> @L("Enable")</a></li>
                <li><a class="dropdown-item bulk-disable" href="#"><i class="fa fa-times text-danger"></i> @L("Disable")</a></li>
            </ul>
        </div>
        }

        @if (IsGranted(AppPermissions.Pages_TenantSurpathServices_Create))
        {
        <button id="CreateNewTenantSurpathServiceButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewTenantSurpathService")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">

                            <div class="my-3">
                                <div class="input-group">
                                    <input type="text" id="TenantSurpathServicesTableFilter" class="form-control reload-on-change" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                    <button id="GetTenantSurpathServicesButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">

                    </div>

                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="NameFilterId">@L("Name")</label>
                            <input type="text" class="form-control reload-on-keyup" name="nameFilter" id="NameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinPriceFilterId">@L("MinMax") @L("Price")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input reload-on-keyup" placeholder="@L(" MinValue")" name="minPriceFilter" id="MinPriceFilterId" />
                                <input type="number" class="form-control m-input reload-on-keyup" placeholder="@L(" MaxValue")" name="maxPriceFilter" id="MaxPriceFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="DescriptionFilterId">@L("Description")</label>
                            <input type="text" class="form-control reload-on-keyup" name="descriptionFilter" id="DescriptionFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="IsEnabledFilterId">@L("IsEnabled")</label>
                            <select class="form-select reload-on-change" name="IsEnabledFilter" id="IsEnabledFilterId">
                                <option value="-1">@L("All")</option>
                                <option value="0">@L("False")</option>
                                <option value="1">@L("True")</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="SurpathServiceNameFilterId">(@L("SurpathService")) @L("Name")</label>
                            <input type="text" class="form-control" name="surpathServiceNameFilter" id="SurpathServiceNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="TenantDepartmentNameFilterId">(@L("TenantDepartment")) @L("Name")</label>
                            <input type="text" class="form-control" name="tenantDepartmentNameFilter" id="TenantDepartmentNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="CohortNameFilterId">(@L("Cohort")) @L("Name")</label>
                            <input type="text" class="form-control" name="cohortNameFilter" id="CohortNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="UserNameFilterId">(@L("User")) @L("Name")</label>
                            <input type="text" class="form-control" name="userNameFilter" id="UserNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="RecordCategoryRuleNameFilterId">(@L("RecordCategoryRule")) @L("Name")</label>
                            <input type="text" class="form-control" name="recordCategoryRuleNameFilter" id="RecordCategoryRuleNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-12 mt-5">
                        <button class="btn btn-secondary btn-sm" id="btn-reset-filters">Reset</button>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="TenantSurpathServicesTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                        <thead>
                            <tr>
                                <th></th>
                                <th><input type="checkbox" id="selectAllCheckbox" /></th>
                                <th>@L("Actions")</th>
                                <th>@L("Name")</th>
                                <th>@L("Price")</th>
                                <th>@L("Description")</th>
                                <th>@L("IsEnabled")</th>
                                <th>@L("SurpathServiceName")</th>
                                <th>@L("TenantDepartmentName")</th>
                                <th>@L("CohortName")</th>
                                <th>@L("UserName")</th>
                                <th>@L("RecordCategoryRuleName")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>