@using inzibackend.Web.Areas.App.Startup
@using inzibackend.Web.Areas.App.Models.RecordCategories
@model RecordCategoryViewModel
@using inzibackend.Web.TagHelpers
@{
ViewBag.CurrentPageName = AppPageNames.Common.RecordCategories;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/RecordCategories/CreateOrEdit.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    @{
    var breadcrumbs = new List<BreadcrumbItem>()
        {
        new BreadcrumbItem("/App/RecordCategories", L("RecordCategories")),
        new BreadcrumbItem(L("Details")),
        };
        }
        <abp-page-subheader title='@L("Details")' breadcrumbs="breadcrumbs">
        </abp-page-subheader>

        <div class="@(await GetContainerClass())">
            <div class=" card card-custom gutter-b">
                <div class=" card-body">
                    <div id="RecordCategoryInformationsTab">
                        <div class="row">
                            <div class="col-6 mb-3">
                                <h6>@L("Name") :</h6>
                                @Model.RecordCategory.Name
                            </div>
                            <div class="col-6 mb-3">
                                <h6>@L("Instructions") :</h6>
                                @Model.RecordCategory.Instructions
                            </div>

                            <div class="col-6 mb-3">
                                <h6>(@L("RecordRequirement")) @L("Name") :</h6>
                                @Model.RecordRequirementName
                            </div>
                            <div class="col-6 mb-3">
                                <h6>(@L("RecordCategoryRule")) @L("Name") :</h6>
                                @Model.RecordCategoryRuleName
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>