
@using System.Globalization
@using inzibackend.Authorization
@using inzibackend.Web.Areas.App.Models.DepartmentUsers
@using inzibackend.Web.Areas.App.Startup
@model CreateOrEditDepartmentUserViewModel
@using Abp.Extensions
@using inzibackend.Web.TagHelpers
@{
ViewBag.CurrentPageName = AppPageNames.Common.DepartmentUsers;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/DepartmentUsers/CreateOrEdit.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    @{
    var breadcrumbs = new List<BreadcrumbItem>()
        {
        new BreadcrumbItem("/App/DepartmentUsers", L("DepartmentUsers")),
        new BreadcrumbItem(Model.IsEditMode ? L("Edit") : L("Create"))
        };
        }
        <abp-page-subheader title='@(Model.IsEditMode ? (L("EditDepartmentUser")) : L("CreateNewDepartmentUser"))' breadcrumbs="breadcrumbs">
        </abp-page-subheader>

        <div class="@(await GetContainerClass())">
            <div class="card card-custom gutter-b">
                <form name="DepartmentUserInformationsForm" role="form" novalidate class="form-validation">
                    <div class="card-body">
                        <div class="form">
                            <div id="DepartmentUserInformationsTab">
                                @if (Model.IsEditMode)
                                {
                                <input type="hidden" name="id" value="@Model.DepartmentUser.Id" />
                                }

                                <div class="my-3">
                                    <label class="form-label" for="UserName">@L("User")</label>
                                    <div class="input-group">
                                        <input class="form-control" id="UserName" name="userName" value="@Model.UserName" type="text" disabled>
                                        <button class="btn btn-primary blue" id="OpenUserLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
                                        <button class="btn btn-danger btn-icon" type="button" id="ClearUserNameButton"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>

                                @if (Model.IsEditMode)
                                {
                                <input class="form-control" id="DepartmentUser_UserId" value="@Model.DepartmentUser.UserId" type="text" name="userId" hidden />
                                }
                                else
                                {
                                <input class="form-control" id="DepartmentUser_UserId" value="" type="text" name="userId" hidden />
                                }

                                <div class="my-3">
                                    <label class="form-label" for="TenantDepartmentName">@L("TenantDepartment")</label>
                                    <div class="input-group">
                                        <input class="form-control" id="TenantDepartmentName" name="tenantDepartmentName" value="@Model.TenantDepartmentName" type="text" disabled>
                                        <button class="btn btn-primary blue" id="OpenTenantDepartmentLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
                                        <button class="btn btn-danger btn-icon" type="button" id="ClearTenantDepartmentNameButton"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>

                                @if (Model.IsEditMode)
                                {
                                <input class="form-control" id="DepartmentUser_TenantDepartmentId" value="@Model.DepartmentUser.TenantDepartmentId" type="text" name="tenantDepartmentId" hidden />
                                }
                                else
                                {
                                <input class="form-control" id="DepartmentUser_TenantDepartmentId" value="" type="text" name="tenantDepartmentId" hidden />
                                }

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <button type="button" id="saveBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("Save")</button>
                                @if (!Model.IsEditMode)
                                {
                                <button type="button" id="saveAndNewBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("SaveAndNew")</button>
                                }
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>