
@using System.Globalization
@using inzibackend.Authorization
@using inzibackend.Web.Areas.App.Models.DrugTestCategories
@using inzibackend.Web.Areas.App.Startup
@model CreateOrEditDrugTestCategoryViewModel
@using Abp.Extensions
@using inzibackend.Web.TagHelpers
@{
ViewBag.CurrentPageName = AppPageNames.Host.DrugTestCategories;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/DrugTestCategories/CreateOrEdit.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    @{
    var breadcrumbs = new List<BreadcrumbItem>()
        {
        new BreadcrumbItem("/App/DrugTestCategories", L("DrugTestCategories")),
        new BreadcrumbItem(Model.IsEditMode ? L("Edit") : L("Create"))
        };
        }
        <abp-page-subheader title='@(Model.IsEditMode ? (L("EditDrugTestCategory")) : L("CreateNewDrugTestCategory"))' breadcrumbs="breadcrumbs">
        </abp-page-subheader>

        <div class="@(await GetContainerClass())">
            <div class="card card-custom gutter-b">
                <form name="DrugTestCategoryInformationsForm" role="form" novalidate class="form-validation">
                    <div class="card-body">
                        <div class="form">
                            <div id="DrugTestCategoryInformationsTab">
                                @if (Model.IsEditMode)
                                {
                                <input type="hidden" name="id" value="@Model.DrugTestCategory.Id" />
                                }

                                <div class="my-3">
                                    <label class="form-label" for="DrugName">@L("Drug")</label>
                                    <div class="input-group">
                                        <input class="form-control" id="DrugName" name="drugName" value="@Model.DrugName" type="text" disabled>
                                        <button class="btn btn-primary blue" id="OpenDrugLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
                                        <button class="btn btn-danger btn-icon" type="button" id="ClearDrugNameButton"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>

                                @if (Model.IsEditMode)
                                {
                                <input class="form-control" id="DrugTestCategory_DrugId" value="@Model.DrugTestCategory.DrugId" type="text" name="drugId" required hidden />
                                }
                                else
                                {
                                <input class="form-control" id="DrugTestCategory_DrugId" value="" type="text" name="drugId" required hidden />
                                }

                                <div class="my-3">
                                    <label class="form-label" for="PanelName">@L("Panel")</label>
                                    <div class="input-group">
                                        <input class="form-control" id="PanelName" name="panelName" value="@Model.PanelName" type="text" disabled>
                                        <button class="btn btn-primary blue" id="OpenPanelLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
                                        <button class="btn btn-danger btn-icon" type="button" id="ClearPanelNameButton"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>

                                @if (Model.IsEditMode)
                                {
                                <input class="form-control" id="DrugTestCategory_PanelId" value="@Model.DrugTestCategory.PanelId" type="text" name="panelId" required hidden />
                                }
                                else
                                {
                                <input class="form-control" id="DrugTestCategory_PanelId" value="" type="text" name="panelId" required hidden />
                                }

                                <div class="my-3">
                                    <label class="form-label" for="testCategoryId">@L("TestCategory")</label>
                                    @Html.DropDownList("testCategoryId", new SelectList(Model.DrugTestCategoryTestCategoryList,"Id","DisplayName", (Model.IsEditMode ? Model.DrugTestCategory.TestCategoryId.ToString() : "")),@L("SelectATestCategory"), new { @class = "form-control" , @required="required" })
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <button type="button" id="saveBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("Save")</button>
                                @if (!Model.IsEditMode)
                                {
                                <button type="button" id="saveAndNewBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("SaveAndNew")</button>
                                }
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>