@using inzibackend.Authorization
@using inzibackend.Web.Areas.App.Models.LedgerEntryDetails
@using inzibackend.Web.Areas.App.Startup
@model LedgerEntryDetailsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Host.LedgerEntryDetails;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/LedgerEntryDetails/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title='@L("LedgerEntryDetails")' description='@L("LedgerEntryDetailsHeaderInfo")'>
        <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_LedgerEntryDetails_Create))
        {
        <button id="CreateNewLedgerEntryDetailButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewLedgerEntryDetail")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">

                            <div class="my-3">
                                <div class="input-group">
                                    <input type="text" id="LedgerEntryDetailsTableFilter" class="form-control reload-on-change" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                    <button id="GetLedgerEntryDetailsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">

                    </div>

                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="NoteFilterId">@L("Note")</label>
                            <input type="text" class="form-control reload-on-keyup" name="noteFilter" id="NoteFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinAmountFilterId">@L("MinMax") @L("Amount")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input reload-on-keyup" placeholder="@L(" MinValue")" name="minAmountFilter" id="MinAmountFilterId" />
                                <input type="number" class="form-control m-input reload-on-keyup" placeholder="@L(" MaxValue")" name="maxAmountFilter" id="MaxAmountFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinDiscountFilterId">@L("MinMax") @L("Discount")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input reload-on-keyup" placeholder="@L(" MinValue")" name="minDiscountFilter" id="MinDiscountFilterId" />
                                <input type="number" class="form-control m-input reload-on-keyup" placeholder="@L(" MaxValue")" name="maxDiscountFilter" id="MaxDiscountFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinDiscountAmountFilterId">@L("MinMax") @L("DiscountAmount")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input reload-on-keyup" placeholder="@L(" MinValue")" name="minDiscountAmountFilter" id="MinDiscountAmountFilterId" />
                                <input type="number" class="form-control m-input reload-on-keyup" placeholder="@L(" MaxValue")" name="maxDiscountAmountFilter" id="MaxDiscountAmountFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MetaDataFilterId">@L("MetaData")</label>
                            <input type="text" class="form-control reload-on-keyup" name="metaDataFilter" id="MetaDataFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinAmountPaidFilterId">@L("MinMax") @L("AmountPaid")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input reload-on-keyup" placeholder="@L(" MinValue")" name="minAmountPaidFilter" id="MinAmountPaidFilterId" />
                                <input type="number" class="form-control m-input reload-on-keyup" placeholder="@L(" MaxValue")" name="maxAmountPaidFilter" id="MaxAmountPaidFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinDatePaidOnFilterId">@L("DatePaidOnRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker startDate date-picker-filter" type="text" placeholder="@L(" MinValue")" id="MinDatePaidOnFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker endDate date-picker-filter" type="text" placeholder="@L(" MaxValue")" id="MaxDatePaidOnFilterId">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="LedgerEntryTransactionIdFilterId">(@L("LedgerEntry")) @L("TransactionId")</label>
                            <input type="text" class="form-control" name="ledgerEntryTransactionIdFilter" id="LedgerEntryTransactionIdFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="SurpathServiceNameFilterId">(@L("SurpathService")) @L("Name")</label>
                            <input type="text" class="form-control" name="surpathServiceNameFilter" id="SurpathServiceNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="TenantSurpathServiceNameFilterId">(@L("TenantSurpathService")) @L("Name")</label>
                            <input type="text" class="form-control" name="tenantSurpathServiceNameFilter" id="TenantSurpathServiceNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-12 mt-5">
                        <button class="btn btn-secondary btn-sm" id="btn-reset-filters">Reset</button>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="LedgerEntryDetailsTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                        <thead>
                            <tr>
                                <th></th>

                                <th>@L("Actions")</th>
                                <th>@L("Note")</th>
                                <th>@L("Amount")</th>
                                <th>@L("Discount")</th>
                                <th>@L("DiscountAmount")</th>
                                <th>@L("MetaData")</th>
                                <th>@L("AmountPaid")</th>
                                <th>@L("DatePaidOn")</th>
                                <th>@L("LedgerEntryTransactionId")</th>
                                <th>@L("SurpathServiceName")</th>
                                <th>@L("TenantSurpathServiceName")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>