
@using inzibackend.Web.Areas.App.Models.Common.Modals
@using inzibackend.Web.Areas.App.Models.RecordCategories
@model MasterDetailChild_RecordRequirement_RecordCategoryViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="RecordCategoryInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.RecordCategory.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Instructions") :</h6>
                @Model.RecordCategory.Instructions
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("RecordCategoryRule")) @L("Name") :</h6>
                @Model.RecordCategoryRuleName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")