@using inzibackend.Authorization
@using inzibackend.Web.Areas.App.Models.SurpathServices
@using inzibackend.Web.Areas.App.Startup
@model SurpathManageServicesViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Host.SurpathServicesManage;
}

@section Styles
{
<link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/tenant-list.css" asp-append-version="true" />
}

@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/_Bundles/surpathfeatures-libs.js" asp-append-version="true"></script>

<script abp-src="/view-resources/Areas/App/Views/SurpathServices/Manage.js" asp-append-version="true"></script>
}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="@(await GetContainerClass())" id="manage-tenant-surpath-services">
        <input type="hidden" id="SelectedTenantId" value="" />
        <div class="row align-items-center">
            <div class="card">
                <div id="surpath_services_card_header" class="card-header collapsible cursor-pointer collapsed rotate" data-bs-toggle="collapse" data-bs-target="#surpath_services_collapsible">
                    <h3 class="card-title">Surpath Services</h3>
                    <div class="card-toolbar rotate-90">
                        <span class="svg-icon svg-icon-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="currentColor"></rect>
                                <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="currentColor"></path>
                            </svg>
                        </span>
                    </div>
                </div>
                <div id="surpath_services_collapsible" class="collapse">
                    <div class="content d-flex flex-column flex-column-fluid">
                        <div class="align-items-center">
                            <table id="SurpathServicesTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                                <thead>
                                    <tr>
                                        <th></th>

                                        <th>@L("Actions")</th>
                                        <th>@L("Name")</th>
                                        <th>@L("Price")</th>
                                        <th>@L("Discount")</th>
                                        <th>@L("Description")</th>
                                        <th>@L("IsEnabledByDefault")</th>
                                        @*                                        <th>@L("TenantDepartmentName")</th>
                                            <th>@L("CohortName")</th>
                                            <th>@L("UserName")</th>*@
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="card">
                <div id="tenants_card_header" class="card-header collapsible cursor-pointer rotate" data-bs-toggle="collapse" data-bs-target="#manage_tenants_collapsible">
                    <h3 class="card-title">Tenants</h3>
                    <div class="card-toolbar rotate-90">
                        <span class="svg-icon svg-icon-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="currentColor"></rect>
                                <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="currentColor"></path>
                            </svg>
                        </span>
                    </div>
                </div>
                <div id="manage_tenants_collapsible" class="collapse show">
                    <div class="content d-flex flex-column flex-column-fluid">
                        <div class="align-items-center">
                            <table id="TenantsTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@L("Actions")</th>
                                        <th>@L("TenancyCodeName")</th>
                                        <th>@L("Name")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="TenantSurpathServicesRow" class="row align-items-center d-none">
            <div class="card">
                <div id="tenant_surpath_services_card_header" class="card-header collapsible cursor-pointer rotate" data-bs-toggle="collapse" data-bs-target="#tenant_surpath_services_collapsible">
                    <h3 class="card-title">Tenant Surpath Services - <span id="TenantSurpathServiceTenantName"></span></h3>
                    <div class="card-toolbar rotate-90">
                        <span class="svg-icon svg-icon-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="currentColor"></rect>
                                <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="currentColor"></path>
                            </svg>
                        </span>
                    </div>
                </div>
                <div id="tenant_surpath_services_collapsible" class="collapse show">
                    <div class="content d-flex flex-column flex-column-fluid">
                        <div class="align-items-center">
                            <table id="TenantSurpathServicesTable" class="table align-middle table-row-dashed fs-6 gy-5 p-2 dataTable no-footer">
                                <thead>
                                    <tr>
                                        <th></th>

                                        <th>@L("Actions")</th>
                                        <th>@L("Enabled")</th>
                                        <th>@L("Name")</th>
                                        <th>@L("SurpathServiceName")</th>
                                        <th>@L("RecordCategoryRuleName")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
