@using inzibackend.Web.Areas.App.Startup
@using inzibackend.Web.Areas.App.Models.TenantDepartments
@model TenantDepartmentViewModel
@using inzibackend.Web.TagHelpers
@{
ViewBag.CurrentPageName = AppPageNames.Common.TenantDepartments;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/TenantDepartments/CreateOrEdit.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    @{
    var breadcrumbs = new List<BreadcrumbItem>()
        {
        new BreadcrumbItem("/App/TenantDepartments", L("TenantDepartments")),
        new BreadcrumbItem(L("Details")),
        };
        }
        <abp-page-subheader title='@L("Details")' breadcrumbs="breadcrumbs">
        </abp-page-subheader>

        <div class="@(await GetContainerClass())">
            <div class=" card card-custom gutter-b">
                <div class=" card-body">
                    <div id="TenantDepartmentInformationsTab">
                        <div class="row">
                            <div class="col-6 mb-3">
                                <h6>@L("Name") :</h6>
                                @Model.TenantDepartment.Name
                            </div>
                            <div class="col-6 mb-3">
                                <h6>@L("Active") :</h6>
                                @Model.TenantDepartment.Active
                            </div>
                            <div class="col-6 mb-3">
                                <h6>@L("MROType") :</h6>
                                @L("Enum_EnumClientMROTypes_" + (int)Model.TenantDepartment.MROType)
                            </div>
                            <div class="col-6 mb-3">
                                <h6>@L("Description") :</h6>
                                @Model.TenantDepartment.Description
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>