
@using inzibackend.Web.Areas.App.Models.Common.Modals
@using inzibackend.Web.Areas.App.Models.RecordStates
@model RecordStateViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="RecordStateInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("State") :</h6>
                @L("Enum_EnumRecordState_" + (int)Model.RecordState.State)
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Notes") :</h6>
                @Model.RecordState.Notes
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Record")) @L("filename") :</h6>
                @Model.Recordfilename
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("RecordCategory")) @L("Name") :</h6>
                @Model.RecordCategoryName
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("User")) @L("Name") :</h6>
                @Model.UserName
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("RecordStatus")) @L("StatusName") :</h6>
                @Model.RecordStatusStatusName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")